*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ===== Loader Page Styling ===== */
.loader-body {
    margin: 0;
    padding: 0;
    /* background: #111; */
    background-color: #12100D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader-container {
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

.logo {
    width: 200px;
    max-width: 80%;
    animation: zoomIn 2s ease-in-out;
    /* border-radius: 50%; */
}

.loader-container h1 {
    /* color: #D4AF37; */
    color: #A8915D;
    font-family: 'Arial', sans-serif;
    margin-top: 15px;
    letter-spacing: 2px;
}

/* Animations */
@keyframes zoomIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media (max-width: 768px) {

    .logo {
        width: 180px;   /* Slightly smaller but still strong */
    }

    .loader-container h1 {
        font-size: 24px;
        letter-spacing: 2px;
    }

}